# fly.toml app configuration file generated for ai-first-maturity-assesment-framework on 2026-01-12T16:51:58Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ai-first-maturity-assesment-framework'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 5001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[mounts]]
  source = "data_volume"
  destination = "/app/instance"
  processes = ["app"]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024