<div class="modal fade" id="introModal" tabindex="-1" aria-labelledby="introModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="introModalLabel">{{ _('create.before_start') }}</h5>
      </div>
      <div class="modal-body">
        <p>
          {{ _('create.intro_desc') }}
        </p>
        <ul class="mb-0 text-muted small">
          <li>{{ _('create.saved_locally') }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="introContinueBtn">{{ _('create.continue') }}</button>
      </div>
    </div>
  </div>
</div>
